{% extends 'base2.html.twig' %}

{% block body %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="col-lg-6">
                Neuen Artikel anlegen {{code}}
            </div>
            <div class="col-lg-6">
                Bestand einbuchen
            </div>
        </div>

    </div> 
</div>
{% endblock %}
