{% extends 'base2.html.twig' %}

{% block body %}
<div class="col-lg-12">
    <h2 class="page-header">Einkaufsliste</h2>
    <form id="filter-form"><label>Artikel suchen: </label><input name="filter" class="form-control" id="filter" value="" maxlength="30" size="30" type="text"></form><br />
    <table class="table table-responsive table-striped list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Menge</th>
                <th>Funktionen</th>
            </tr>
        </thead>
        <tbody>
           {% for item in shoppinglist %}
           <tr>
               <td>{{item.foodMain.foodName}}</td>
               <td>{{item.amount}}</td>
               <td><a href="/shoppinglist/delete/{{item.id}}">Erledigt</a></td>
           </tr>
           {% endfor %}
        <tbody>
    </table>
</div> 
{% endblock %}
